body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-image: url("Featured-Image-SP-1200x675.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}
.container {
  display: flex;
  width: 90%;
  justify-content: center;
  height: 100%;
}
.fieldset-container {
  width: 50%;
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.65);
  position: relative;
}
#line {
  width: 1px;
  background-color: white;
  height: 100%;
  margin: 0 20px;
  margin-top: 5%;
  height: 80%;
}
#output-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-wrap: break-word;
  background-color: rgba(248, 247, 244, 0.966);
}
input {
  font-size: 100%;
}
input::placeholder {
  font-size: 80%;
}
.ingredient-input {
  margin-bottom: 10px;
  width: 98%;
  height: 7%;
}
#recipeNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#output {
  padding: 10px 0;
}
.recipe-output {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 150%;
}
.details-box {
  height: 95%;
  background-color: white;
  border-radius: 5px;
}
.header {
  font-weight: bold;
  font-size: 100%;
}
button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #3731aa;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  width: 100%;
  padding-left: 40%;
  margin-top: 1%;
}
button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}
button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}
button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
button:active {
  background-color: #1a1666;
}
button:hover .arrow {
  background: var(--secondary-color);
}
button:hover .arrow:before {
  right: 0;
}
